pkgbase = linux-bunny
	pkgdesc = Linux Bunny
	pkgver = 5.10.2
	pkgrel = 1
	url = https://github.com/zen-kernel
	arch = x86_64
	license = GPL2
	makedepends = bc
	makedepends = kmod
	makedepends = libelf
	makedepends = pahole
	makedepends = cpio
	makedepends = perl
	makedepends = tar
	makedepends = xz
	makedepends = xmlto
	makedepends = python-sphinx
	makedepends = python-sphinx_rtd_theme
	makedepends = graphviz
	makedepends = imagemagick
	makedepends = git
	options = !strip
	source = https://github.com/zen-kernel/zen-kernel/archive/v5.10.2-zen1.tar.gz
	source = config
	source = Makefile
	sha256sums = 1f2ecb8fb91b314cfa27a26fdfc2dac3822fa705e86a4a57881a5df5497367df
	sha256sums = 83532c0b6caf308084f935265f0eaf7ab8a4c19ca18094ae669f761de80d4c70
	sha256sums = 58cb0364ff641a29b512020b97a7c7b93e51593f31c69809f0ee65024e7dd607

pkgname = linux-bunny
	pkgdesc = The Linux Bunny kernel and modules
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = crda: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	provides = WIREGUARD-MODULE
	replaces = wireguard-arch

pkgname = linux-bunny-headers
	pkgdesc = Headers and scripts for building modules for the Linux Bunny kernel

pkgname = linux-bunny-docs
	pkgdesc = Documentation for the Linux Bunny kernel

